/* ------------ Code Sass de la page d'accueil du site ------------ */

/* ------------ Variables ------------ */

$border-nul: 0px;
$font-weight-name : 500;
$font-weight-location : 300;
$padding-footer : 0.5rem;
$loading-duration : 2s;

/* ------------ Mixins ------------ */

@mixin card-shadow {
    box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
    transition: 0.3s;
}

@mixin obj-center {
    display: flex;
    justify-content: center;
}

@mixin align-hori {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ------------ Key frames ------------ */

@keyframes bg-white {
    0%{
        z-index: 10;
        opacity: 1;
    }
    20%{
        z-index: 10;
        opacity: 1;
    }
    100%{
        visibility: collapse;
        z-index: 0;
        opacity: 0;
    }
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        visibility: collapse;
    }
}

/* ------------ General change ------------ */

.html, body, h1{
    margin: $border-nul;
    padding: $border-nul;
    font-family: 'Roboto','Shrikhand', Impact, "Arial Black", Arial, Verdana, sans-serif;
}

.bg-grey{
    background-color: #eeeded;
    padding: 2rem 0rem 2rem 0rem;
}

.logo{
    padding: 1rem;
    @include obj-center;
}

a.not-shape-links{
    text-decoration: none;
    color: black;
    @include obj-center;
}
a.not-shape-links:visited{
    color: inherit;
    font-weight: inherit;
}

a.not-shape-links-contact{
    text-decoration: none;
    color: white;
}
a.not-shape-links-contact:visited{
    color: inherit;
    font-weight: inherit;
}
h2{
    padding: 1rem;
}

/* ------------ Spinner for loading ------------ */
.loading-spin{
    position:absolute;
    background-color: white;
    @include obj-center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: bg-white $loading-duration linear both;
    &__arrow{
        color: #c968db;
        font-size: 5rem;
        animation: loading 1s linear infinite both;
    }
}
/* ------------ Location of the smartphone ------------ */

.location{
    box-shadow: 0px 2px 6px gray inset;
    font-weight: 500;
    padding: 1rem;
    background-color: #dfdfdf;
    @include obj-center;
    &__logo{
        padding: 0px 10px 0px 10px;
    }
}

/* ------------ Instruction ------------ */

.instr-1{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0rem 3.5rem 0rem 3.5rem;
    text-align: center;
    @include obj-center;
}
.instr-2{
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem;
    text-align: center;
    @include obj-center;
}
.navi{
    padding: 1rem;
    border-radius: 15rem;
    margin: 0rem 5rem 0rem 5rem;
    color: white;
    /*background: linear-gradient(to bottom right,#FF79DA,#9356DC);*/
    background-color: #c968db;
    transition: 400ms;
    @include card-shadow;
    @include obj-center;
    &:hover{
        background-color: lighten($color: #c968db, $amount: 5);
        /*background: linear-gradient(to bottom right,#ff86de,#9e67df);*/
        box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 1);
        transition: 0.3s;
    }
}
.fonct{
    padding: 1rem;
    @include align-hori;
    &__nmbr-form{
        color: white;
        background-color: #9356DC;
        border-radius: 15rem;
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        position: absolute;
    }
    &__logo{
        padding: 1.5rem 1.5rem 1.5rem 1rem;
        font-size: 1.2rem;
        color: #797979;
        &__restau{
            color: #9356DC
        }
    }
    &__order{
        @include card-shadow;
        padding-left: 1rem;
        margin-left: 0.6rem;
        /* border: solid red 1px; */
        border-radius: 1rem;
        width: 90%;
        font-weight: 500;
        &__restau{
            background-color: lighten($color: #9356DC, $amount: 35);
        }
    }
}

/* ------------ Restaurants ------------ */

.card-restau{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 30px;
    width: 90%;
    @include card-shadow;
    &__image{
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 10rem;
        object-fit: cover;
    }
    &__sp-betw{
        @include align-hori;
        justify-content: space-between;
        &__name-card{
            padding: 0.5rem;
            &__name-restau{
                font-weight: $font-weight-name;
                font-size: large;
                padding-bottom: 0.4rem;
            }
            &__name-location{
                font-weight: $font-weight-location;
                padding-bottom: 0.4rem;
            }
        }
        &__logo{
            padding-right: 1rem;
            font-size: x-large;
            height: 100%;
            width: 100%;
            color: #c4c4c4;
            transition: 400ms;
            &:hover{
                color: #c968db;
            }
        }
    }
}

/* ------------ Footer ------------ */

.foot{
    background-color: #272727;
    color : white;
    padding: 1rem;
    margin-top: 2.5rem;
    &__logo-ohmyfood{
        font-family: 'Shrikhand','Roboto', Impact, "Arial Black", Arial, Verdana, sans-serif;
        font-size: large;
        padding-bottom: 1rem;
    }
    &__restaurant-proposal{
        @include align-hori;
        padding-bottom: $padding-footer;
        &__logo{
            padding-right: 0.3rem;
            font-size: small;
        }
        &__txt{
            padding-left: 0.3rem
        }
    }
    &__became-partner{
        @include align-hori;
        padding-bottom: $padding-footer;
        &__logo{
            font-size: x-small;
            transform: rotate(-40deg);
        }
        &__txt{
            padding-left: 0.5rem;
        }
    }
    &__legal-mention{
        padding-bottom: $padding-footer;
    }
    &__contact{
        padding-bottom: $padding-footer;
    }
}