/* ------------ Code Sass de la page d'accueil du site ------------ */

/* ------------ Variables ------------ */

$border-nul: 0px;
$font-weight-name : 500;
$font-weight-location : 300;
$padding-footer : 0.5rem;
$loading-duration : 2s;
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;
$arrow-color : #c968db;
$width-desktop : 1024px;

/* ------------ Mixins ------------ */

@mixin card-shadow {
    box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
    transition: 0.3s;
}

@mixin obj-center {
    display: flex;
    justify-content: center;
}

@mixin align-hori {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@mixin bg-color {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ------------ Key frames ------------ */

@keyframes bg-white {
    0%{
        z-index: 10;
        opacity: 1;
    }
    20%{
        z-index: 10;
        opacity: 1;
    }
    100%{
        visibility: collapse;
        z-index: 0;
        opacity: 0;
    }
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        visibility: collapse;
    }
}

@keyframes heart-full {
    0%{
        background: linear-gradient(to top, #c968db 5%, white 5%);
        @include bg-color();
    }
    25%{
        background: linear-gradient(to top, #c968db 25%, white 25%);
        @include bg-color();
    }
    50%{
        background: linear-gradient(to top, #c968db 50%, white 50%);
        @include bg-color();
    }
    75%{
        background: linear-gradient(to top, #c968db 75%, white 75%);
        @include bg-color();
    }
    100%{
        background: linear-gradient(to bottom left,#9e67df,#ff86de);
        @include bg-color();
    }
}

/* ------------ General change ------------ */

.html, body, h1{
    margin: $border-nul;
    padding: $border-nul;
    font-family: 'Roboto','Shrikhand', Impact, "Arial Black", Arial, Verdana, sans-serif;
}

.bg-grey{
    background-color: #ededed;
    padding: 2rem 0rem 2rem 0rem;
    @media (min-width: $width-desktop) {
      margin: 0% 30% 0% 30%;
      background-color: white;
      padding: 0.5rem 0rem 0rem 0rem;
    }
}

.logo{
    padding: 1rem;
    @include obj-center;
}

a.not-shape-links{
    text-decoration: none;
    color: black;
    @include obj-center;
}
a.not-shape-links:visited{
    color: inherit;
    font-weight: inherit;
}

a.not-shape-links-contact{
    text-decoration: none;
    color: white;
}
a.not-shape-links-contact:visited{
    color: inherit;
    font-weight: inherit;
}
h2{
    padding: 2.5rem 1rem 0rem 1rem;
    @media (min-width: $width-desktop) {
        padding: 0rem 0rem 0rem 0rem;
        @include obj-center;
    }
}

/* ------------ Spinner for loading ------------ */
.loading-spin{
    position: absolute;
    background-color: white;
    @include obj-center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: bg-white $loading-duration linear both;
    &__arrow{
        color: $arrow-color;
        font-size: 5rem;
        animation: loading 1s linear 10 both;
    }
}
/* ------------ Location of the smartphone ------------ */

.location{
    box-shadow: 0px 2px 6px gray inset;
    font-weight: 500;
    padding: 1rem;
    background-color: #dfdfdf;
    @include obj-center;
    @media (min-width: $width-desktop) {
        margin: 0% 30% 0% 30%;
    }
    &__logo{
        padding: 0px 10px 0px 10px;
    }
}

/* ------------ Instruction ------------ */

.instr-1{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0rem 3.5rem 0rem 3.5rem;
    text-align: center;
    @include obj-center;
}
.instr-2{
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem;
    text-align: center;
    @include obj-center;
}
.navi{
    padding: 1rem;
    border-radius: 15rem;
    margin: 0rem 5rem 0rem 5rem;
    color: white;
    background: linear-gradient(to bottom right,$secondary-color,$primary-color);
    /* background-color: #c968db; */
    transition: all 400ms;
    @include card-shadow;
    @include obj-center;
    &:hover{
        // background-color: lighten($color: #c968db, $amount: 5);
        background: linear-gradient(to bottom right,#ff86de,#9e67df);
        box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 1);
    }
}
.bg-fonct{
    margin-bottom: 2.5rem;
}
.responsive-fonct{
    @media (min-width: $width-desktop) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}
.fonct{
    padding: 1rem;
    @include align-hori;
    @media (min-width: $width-desktop) {
        padding: 0rem 2rem 0rem 2rem;
    }
    &__nmbr-form{
        color: white;
        background-color: $primary-color;
        border-radius: 15rem;
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        position: absolute;
    }
    &__logo{
        padding: 1.5rem 1.5rem 1.5rem 1rem;
        font-size: 1.2rem;
        color: #797979;
        @media (min-width: $width-desktop) {
            padding: 1rem 1.5rem 1rem 1rem;
          }
        &__restau{
            color: $primary-color;
        }
    }
    &__order{
        @include card-shadow;
        padding-left: 1rem;
        margin-left: 0.6rem;
        /* border: solid red 1px; */
        border-radius: 1rem;
        width: 90%;
        font-weight: 500;
        @media (min-width: $width-desktop) {
            padding: 0.5rem 1rem 0.5rem 1rem;
        }
        &__restau{
            background-color: lighten($color: $primary-color, $amount: 35);
        }
    }
}

/* ------------ Restaurants ------------ */
.bg-restau{
    background-color: #ededed;
    @media (min-width: $width-desktop) {
        margin: 0% 10% 0% 10%;
    }
    
}
.card-restau{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
    @include card-shadow;
    @media (min-width: $width-desktop) {
        width: 15rem;
    }
    &__new{
        position: absolute;
        right: 1rem;
        top: 1rem;
        background-color: $tertiary-color;
        color: darken($tertiary-color, $amount: 45);
        border-radius: 0.1rem;
        height: 1rem;
        padding: 0.5rem 0.8rem 0.5rem 0.8rem;
        font-weight: 500;
        font-size: 0.9rem;
        z-index: 1;
    }
    &__image{
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 10rem;
        object-fit: cover;
    }
    &__sp-betw{
        @include align-hori;
        justify-content: space-between;
        &__name-card{
            padding: 0.5rem;
            &__name-restau{
                font-weight: $font-weight-name;
                font-size: large;
                padding-bottom: 0.4rem;
            }
            &__name-location{
                font-weight: $font-weight-location;
                padding-bottom: 0.4rem;
            }
        }
        &__logo{
            padding-right: 1rem;
            font-size: x-large;
            height: 100%;
            width: 100%;
            color: black;
            transition: all 300ms;
            &:hover{
                // background: linear-gradient(to bottom left,#9e67df,#ff86de);
                animation: heart-full 300ms linear forwards;
                @include bg-color();
                font-weight: bold;
            }
        }
    }
}
.card-responsive{
    &__restau{
        display: block;
    }
    @media (min-width: $width-desktop) {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        margin: 0% 5% 0% 5%;
    }
}
/* ------------ Footer ------------ */

.foot{
    background-color: #272727;
    color : white;
    padding: 1rem;
    margin-top: 2.5rem;
    @media (min-width: $width-desktop) {
        margin: 0% 10% 0% 10%;
    }
    &__logo-ohmyfood{
        font-family: 'Shrikhand','Roboto', Impact, "Arial Black", Arial, Verdana, sans-serif;
        font-size: large;
        padding-bottom: 1rem;
        @media (min-width: $width-desktop) {
            @include obj-center;
        }
    }
    &__restaurant-proposal{
        @include align-hori;
        padding-bottom: $padding-footer;
        &__logo{
            padding-right: 0.3rem;
            font-size: small;
        }
        &__txt{
            padding-left: 0.3rem
        }
    }
    &__became-partner{
        @include align-hori;
        padding-bottom: $padding-footer;
        &__logo{
            font-size: x-small;
            transform: rotate(-40deg);
        }
        &__txt{
            padding-left: 0.5rem;
        }
    }
    &__legal-mention{
        padding-bottom: $padding-footer;
    }
    &__contact{
        padding-bottom: $padding-footer;
    }
}
.foot-responsive{
    @media (min-width: $width-desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
    }
}