/* ------------ Code Sass des différents restaurants du site ------------ */

/* ------------ Variables ------------ */

$border-nul: 0px;
$font-weight-name : 500;
$font-weight-location : 300;
$padding-footer : 0.5rem;
$nbm-food-francaise : 3;

/* ------------ Mixins ------------ */

@mixin card-shadow {
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}

@mixin obj-center {
    display: flex;
    justify-content: center;
}

@mixin align-hori {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin shape-word-menu {
    font-weight: 300;
    margin: 1rem;
    padding-bottom: 0.4rem;
    &__underline{
        border-bottom: solid #99E2D0 3px;
        padding-bottom: 0.4rem;
        position: absolute;
        width: 10%;
    }
}

/* ------------ Key frames ------------ */
@keyframes sliding {
    from{
        transform: translateY(2rem);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes selected {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1) rotate(360deg);
    } 
}


/* ------------ General change ------------ */

.html, body{
    margin: $border-nul;
    padding: $border-nul;
    font-family: 'Roboto','Shrikhand', Impact, "Arial Black", Arial, Verdana, sans-serif;
}
a.not-shape-links{
    text-decoration: none;
    color: black;
    @include obj-center;
}
a.not-shape-links:visited{
    color: inherit;
    font-weight: inherit;
}

/* ------------ Header ------------ */

.head-align{
    @include align-hori;
    justify-content: space-between;
    width: 90%;
    &__logo{
        padding: 1rem 3rem 1rem 3rem;
    }
    &__icon{
        font-size: x-large;
        padding-left: 1rem;
    }
}

/* ------------ Restaurant image and name ------------ */

/* .restau-food{
    width: 100%;
    position: relative;
} */
.image-bg{
    background-image: url(../images/restaurants/a_la_francaise.jpg);
    background-size: cover;
    height: 15rem;
    width: 100%;
}
.restau-name{
    @include align-hori;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 1rem;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    transform: translateY(-2rem);
    background-color: white;
    &__txt{
        font-family: 'Shrikhand','Roboto', Impact, "Arial Black", Arial, Verdana, sans-serif;
        font-size: x-large;
    }
    &__icon{
        font-size: x-large;
        color: #c4c4c4;
    }
}

/* ------------ Menu ------------ */

/* ------ Entrée / Plat / Dessert ------ */

.word-entree{
    @include shape-word-menu;
}
.word-plat{
    @include shape-word-menu;
}
@for $i from 1 through $nbm-food-francaise {
    .card-food-#{$i} {
        @include align-hori;
        justify-content: space-between;
        margin: 0.5rem;
        border-radius: 1.2rem;
        border: solid black 2px;
        @include card-shadow;
        &__infos{
            &__txt{
                font-weight: 500;
                padding-bottom: 0.5rem
            }
            &__txt-and-price{
                @include align-hori;
                justify-content: space-between;
                &__txt{
                    font-weight: 300;
                }
                &__price{
                    font-weight: 500;
                }
            }
        }
        animation: sliding 1000ms $i*500ms backwards;
    }
}
.card-food-icon{
    background-color: #99E2D0;
    color: white;
    padding: 2rem;
    border-radius: 0rem 1.2rem 1.2rem 0rem;
    transform-origin: right;
    animation : selected 2000ms 2000ms backwards;
}

/* ------------ Footer ------------ */

.foot{
    background-color: #272727;
    color : white;
    padding: 1rem;
    &__logo-ohmyfood{
        font-family: 'Shrikhand','Roboto', Impact, "Arial Black", Arial, Verdana, sans-serif;
        font-size: large;
        padding-bottom: 1rem;
    }
    &__restaurant-proposal{
        @include align-hori;
        padding-bottom: $padding-footer;
        &__logo{
            padding-right: 0.6rem;
            font-size: small
        }
    }
    &__became-partner{
        @include align-hori;
        padding-bottom: $padding-footer;
        &__logo{
            padding-right: 0.5rem;
            font-size: x-small;
        }
    }
    &__legal-mention{
        padding-bottom: $padding-footer;
    }
    &__contact{
        padding-bottom: $padding-footer;
    }
}