/* ------------ Code Sass des différents restaurants du site ------------ */

@import "utils/variables";

@import "utils/mixins";

@import "utils/keyframes";

@import "base/general";

/* ------------ Header ------------ */

.head-align{
    @include align-hori;
    justify-content: space-between;
    width: 90%;
    &__logo{
        padding: 1rem 3rem 1rem 3rem;
    }
    &__icon{
        font-size: x-large;
        padding-left: 1rem;
    }
    @media (min-width: $width-min-tablet) {
        @include obj-center;
        width: 100%;
    }
}

/* ------------ Restaurant image and name ------------ */

.image-bg{
    height: 15rem;
    width: 100%;
    object-fit: cover;
    @media (min-width: $width-min-tablet) {
        border-radius: 1rem 1rem 0rem 0rem;
    }
}
.restau-name{
    @include align-hori;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 1rem;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    transform: translateY(-2rem);
    background-color: white;
    @media (min-width: $width-desktop) {
        padding: 2rem 2rem 0rem 2rem;
    }
    &__txt{
        font-family: 'Shrikhand','Roboto', Impact, "Arial Black", Arial, Verdana, sans-serif;
        font-size: x-large;
    }
    &__icon{
        font-size: x-large;
        color: #c4c4c4;
        height: 100%;
            width: 100%;
            color: black;
            &:hover{
                animation: heart-full 300ms ease-in-out forwards;
                @include bg-color();
                font-weight: bold;
            }
    }
}
.name-responsive{
    @media (min-width: $width-desktop) {
        margin: 0% 35% 0% 35%;
    }
    @media (min-width: $width-min-tablet) and (max-width: $width-max-tablet) {
        margin: 0% 20% 0% 20%;
    }
}

/* ------------ Menu ------------ */

.word-entree{
    @include shape-word-menu;
}
.word-plat{
    @include shape-word-menu;
}
.word-desserts{
    @include shape-word-menu;
}
@for $i from 1 through $nbm-food {
    .card-food-#{$i} {
        @include align-hori;
        justify-content: space-between;
        margin: 0.5rem;
        border-radius: 1rem;
        @include card-shadow;
        height: 75px;
        &__infos{
            width: 100%;
            padding: 0.5rem 1rem 0.5rem 1rem;
            transition: all 0.3s;
            overflow: hidden;
            &__txt{
                font-weight: 500;
                padding-bottom: 0.5rem
            }
            &__txt-and-price{
                @include align-hori;
                justify-content: space-between;
                overflow: hidden;
                &__txt{
                    font-weight: 300;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    padding-right: 10px;
                }
                &__price{
                    font-weight: 500;
                }
            }
        }
        animation: sliding 500ms $i*200ms backwards;
        &__checked{
            background-color: $tertiary-color;
            border-radius: 0rem 0.5rem 0.5rem 0rem;
            width: 0%;
            height: 100%;
            overflow: hidden;
            @include obj-center;
            align-items: center;
            transition: all 550ms linear;
            &__icon{
                color: white;
                transform-origin: center;
                font-size: x-large;
            }
        }
        &:hover{
            .card-food-#{$i}__checked{
                width: 20%;
                &__icon{
                    animation : rotation-icon 500ms linear both;
                }
            }
            .card-food-#{$i}__infos{
                width: 80%;
            }
        }
    }
}
.food-responsive{
    @media (min-width: $width-desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 5% 0% 5%;
    }
    @media (min-width: $width-min-tablet) and (max-width: $width-max-tablet) {
        margin: 0% 15% 0% 15%;
    }
}
.entrees-responsive, .plat-responsive, .desserts-responsive{
    @media (min-width: $width-desktop) {
        width: 30%;
    }
}

/* ------------ Commander ------------ */

.command{
    padding: 1rem;
    border-radius: 15rem;
    margin: 2.5rem 5rem 0rem 5rem;
    color: white;
    background: linear-gradient(to bottom right,$secondary-color,$primary-color);
    transition: all 400ms;
    @include card-shadow;
    @include obj-center;
    @media (min-width: $width-desktop) {
        margin: 2% 35% 2% 35%;
    }
    @media (min-width: $width-min-tablet) and (max-width: $width-max-tablet) {
        margin: 2% 30% 2% 30%;
    }
    &:hover{
        background: linear-gradient(to bottom right,#ff86de,#9e67df);
        box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 1);
    }
}

/* ------------ Footer ------------ */

@import "layout/footer";