@charset "UTF-8";
/* ------------ Code Sass des différents restaurants du site ------------ */
/* ------------ Variables ------------ */
/* ------------ Mixins ------------ */
/* ------------ Key frames ------------ */
@-webkit-keyframes sliding {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes sliding {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotation-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes heart-full {
  0% {
    background: linear-gradient(to top, #c968db 5%, white 5%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: linear-gradient(to top, #c968db 25%, white 25%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(to top, #c968db 50%, white 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: linear-gradient(to top, #c968db 75%, white 75%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to bottom left, #9e67df, #ff86de);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes heart-full {
  0% {
    background: linear-gradient(to top, #c968db 5%, white 5%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: linear-gradient(to top, #c968db 25%, white 25%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(to top, #c968db 50%, white 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: linear-gradient(to top, #c968db 75%, white 75%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to bottom left, #9e67df, #ff86de);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* ------------ General change ------------ */
.html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Shrikhand", Impact, "Arial Black", Arial, Verdana, sans-serif;
}

a.not-shape-links {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

a.not-shape-links:visited {
  color: inherit;
  font-weight: inherit;
}

a.not-shape-links-contact {
  text-decoration: none;
  color: white;
}

a.not-shape-links-contact:visited {
  color: inherit;
  font-weight: inherit;
}

/* ------------ Header ------------ */
.head-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.head-align__logo {
  padding: 1rem 3rem 1rem 3rem;
}
.head-align__icon {
  font-size: x-large;
  padding-left: 1rem;
}
@media (min-width: 1024px) {
  .head-align {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .head-align {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* ------------ Restaurant image and name ------------ */
.image-bg {
  height: 15rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .image-bg {
    border-radius: 1rem 1rem 0rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .image-bg {
    border-radius: 1rem 1rem 0rem 0rem;
  }
}

.restau-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 1rem;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  transform: translateY(-2rem);
  background-color: white;
}
@media (min-width: 1024px) {
  .restau-name {
    padding: 2rem 2rem 0rem 2rem;
  }
}
.restau-name__txt {
  font-family: "Shrikhand", "Roboto", Impact, "Arial Black", Arial, Verdana, sans-serif;
  font-size: x-large;
}
.restau-name__icon {
  font-size: x-large;
  color: #c4c4c4;
  height: 100%;
  width: 100%;
  color: black;
  transition: all 300ms;
}
.restau-name__icon:hover {
  -webkit-animation: heart-full 300ms linear forwards;
          animation: heart-full 300ms linear forwards;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .name-responsive {
    margin: 0% 35% 0% 35%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .name-responsive {
    margin: 0% 20% 0% 20%;
  }
}

/* ------------ Menu ------------ */
.word-entree {
  font-weight: 300;
  margin: 1rem;
  padding-bottom: 0.4rem;
}
.word-entree__underline {
  border-bottom: solid #99E2D0 3px;
  padding-bottom: 0.4rem;
  position: absolute;
  width: 10%;
}

.word-plat {
  font-weight: 300;
  margin: 1rem;
  padding-bottom: 0.4rem;
}
.word-plat__underline {
  border-bottom: solid #99E2D0 3px;
  padding-bottom: 0.4rem;
  position: absolute;
  width: 10%;
}

.word-desserts {
  font-weight: 300;
  margin: 1rem;
  padding-bottom: 0.4rem;
}
.word-desserts__underline {
  border-bottom: solid #99E2D0 3px;
  padding-bottom: 0.4rem;
  position: absolute;
  width: 10%;
}

.card-food-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 200ms backwards;
          animation: sliding 500ms 200ms backwards;
}
.card-food-1__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-1__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-1__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-1__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-1__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-1__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-1__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-1:hover .card-food-1__checked {
  width: 20%;
}
.card-food-1:hover .card-food-1__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-1:hover .card-food-1__infos {
  width: 80%;
}

.card-food-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 400ms backwards;
          animation: sliding 500ms 400ms backwards;
}
.card-food-2__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-2__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-2__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-2__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-2__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-2__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-2__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-2:hover .card-food-2__checked {
  width: 20%;
}
.card-food-2:hover .card-food-2__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-2:hover .card-food-2__infos {
  width: 80%;
}

.card-food-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 600ms backwards;
          animation: sliding 500ms 600ms backwards;
}
.card-food-3__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-3__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-3__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-3__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-3__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-3__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-3__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-3:hover .card-food-3__checked {
  width: 20%;
}
.card-food-3:hover .card-food-3__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-3:hover .card-food-3__infos {
  width: 80%;
}

.card-food-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 800ms backwards;
          animation: sliding 500ms 800ms backwards;
}
.card-food-4__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-4__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-4__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-4__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-4__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-4__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-4__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-4:hover .card-food-4__checked {
  width: 20%;
}
.card-food-4:hover .card-food-4__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-4:hover .card-food-4__infos {
  width: 80%;
}

.card-food-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 1000ms backwards;
          animation: sliding 500ms 1000ms backwards;
}
.card-food-5__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-5__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-5__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-5__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-5__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-5__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-5__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-5:hover .card-food-5__checked {
  width: 20%;
}
.card-food-5:hover .card-food-5__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-5:hover .card-food-5__infos {
  width: 80%;
}

.card-food-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 1200ms backwards;
          animation: sliding 500ms 1200ms backwards;
}
.card-food-6__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-6__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-6__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-6__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-6__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-6__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-6__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-6:hover .card-food-6__checked {
  width: 20%;
}
.card-food-6:hover .card-food-6__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-6:hover .card-food-6__infos {
  width: 80%;
}

.card-food-7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 1400ms backwards;
          animation: sliding 500ms 1400ms backwards;
}
.card-food-7__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-7__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-7__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-7__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-7__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-7__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-7__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-7:hover .card-food-7__checked {
  width: 20%;
}
.card-food-7:hover .card-food-7__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-7:hover .card-food-7__infos {
  width: 80%;
}

.card-food-8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 1600ms backwards;
          animation: sliding 500ms 1600ms backwards;
}
.card-food-8__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-8__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-8__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-8__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-8__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-8__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-8__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-8:hover .card-food-8__checked {
  width: 20%;
}
.card-food-8:hover .card-food-8__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-8:hover .card-food-8__infos {
  width: 80%;
}

.card-food-9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 1800ms backwards;
          animation: sliding 500ms 1800ms backwards;
}
.card-food-9__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-9__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-9__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-9__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-9__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-9__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-9__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-9:hover .card-food-9__checked {
  width: 20%;
}
.card-food-9:hover .card-food-9__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-9:hover .card-food-9__infos {
  width: 80%;
}

.card-food-10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 2000ms backwards;
          animation: sliding 500ms 2000ms backwards;
}
.card-food-10__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-10__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-10__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-10__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-10__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-10__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-10__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-10:hover .card-food-10__checked {
  width: 20%;
}
.card-food-10:hover .card-food-10__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-10:hover .card-food-10__infos {
  width: 80%;
}

@media (min-width: 1024px) {
  .food-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 5% 0% 5%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .food-responsive {
    margin: 0% 15% 0% 15%;
  }
}

@media (min-width: 1024px) {
  .entrees-responsive {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .plat-responsive {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .desserts-responsive {
    width: 30%;
  }
}

/* ------------ Commander ------------ */
.command {
  padding: 1rem;
  border-radius: 15rem;
  margin: 2.5rem 5rem 0rem 5rem;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transition: all 400ms;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .command {
    margin: 2% 35% 2% 35%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .command {
    margin: 2% 30% 2% 30%;
  }
}
.command:hover {
  background: linear-gradient(to bottom right, #ff86de, #9e67df);
  box-shadow: 4px 4px 8px 0 rgb(146, 146, 146);
}

/* ------------ Footer ------------ */
.foot {
  background-color: #272727;
  color: white;
  padding: 1rem;
  margin-top: 2.5rem;
}
@media (min-width: 1024px) {
  .foot {
    margin: 0% 10% 0% 10%;
  }
}
.foot__logo-ohmyfood {
  font-family: "Shrikhand", "Roboto", Impact, "Arial Black", Arial, Verdana, sans-serif;
  font-size: large;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  .foot__logo-ohmyfood {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .foot__logo-ohmyfood {
    display: flex;
    justify-content: center;
  }
}
.foot__restaurant-proposal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
}
.foot__restaurant-proposal__logo {
  padding-right: 0.3rem;
  font-size: small;
}
.foot__restaurant-proposal__txt {
  padding-left: 0.3rem;
}
.foot__became-partner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
}
.foot__became-partner__logo {
  font-size: x-small;
  transform: rotate(-40deg);
}
.foot__became-partner__txt {
  padding-left: 0.5rem;
}
.foot__legal-mention {
  padding-bottom: 0.5rem;
}
.foot__contact {
  padding-bottom: 0.5rem;
}

@media (min-width: 1024px) {
  .foot-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .foot-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
  }
}/*# sourceMappingURL=restaurants.css.map */