@charset "UTF-8";
/* ------------ Code Sass des différents restaurants du site ------------ */
/* ------------ Variables ------------ */
/* ------------ Mixins ------------ */
/* ------------ Key frames ------------ */
@-webkit-keyframes sliding {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes sliding {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotation-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes heart-full {
  0% {
    background: linear-gradient(to top, #c968db 5%, white 5%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: linear-gradient(to top, #c968db 25%, white 25%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(to top, #c968db 50%, white 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: linear-gradient(to top, #c968db 75%, white 75%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to bottom left, #9e67df, #ff86de);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes heart-full {
  0% {
    background: linear-gradient(to top, #c968db 5%, white 5%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: linear-gradient(to top, #c968db 25%, white 25%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(to top, #c968db 50%, white 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: linear-gradient(to top, #c968db 75%, white 75%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to bottom left, #9e67df, #ff86de);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* ------------ General change ------------ */
.html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Shrikhand", Impact, "Arial Black", Arial, Verdana, sans-serif;
}

a.not-shape-links {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

a.not-shape-links:visited {
  color: inherit;
  font-weight: inherit;
}

a.not-shape-links-contact {
  text-decoration: none;
  color: white;
}

a.not-shape-links-contact:visited {
  color: inherit;
  font-weight: inherit;
}

/* ------------ Header ------------ */
.head-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.head-align__logo {
  padding: 1rem 3rem 1rem 3rem;
}
.head-align__icon {
  font-size: x-large;
  padding-left: 1rem;
}

/* ------------ Restaurant image and name ------------ */
/* .restau-food{
    width: 100%;
    position: relative;
} */
.image-bg {
  background-image: url(../images/restaurants/a_la_francaise.jpg);
  background-size: cover;
  height: 15rem;
  width: 100%;
}

.restau-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 1rem;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  transform: translateY(-2rem);
  background-color: white;
}
.restau-name__txt {
  font-family: "Shrikhand", "Roboto", Impact, "Arial Black", Arial, Verdana, sans-serif;
  font-size: x-large;
}
.restau-name__icon {
  font-size: x-large;
  color: #c4c4c4;
  height: 100%;
  width: 100%;
  color: black;
  transition: all 500ms;
}
.restau-name__icon:hover {
  -webkit-animation: heart-full 500ms linear forwards;
          animation: heart-full 500ms linear forwards;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* ------------ Menu ------------ */
.word-entree {
  font-weight: 300;
  margin: 1rem;
  padding-bottom: 0.4rem;
}
.word-entree__underline {
  border-bottom: solid #99E2D0 3px;
  padding-bottom: 0.4rem;
  position: absolute;
  width: 10%;
}

.word-plat {
  font-weight: 300;
  margin: 1rem;
  padding-bottom: 0.4rem;
}
.word-plat__underline {
  border-bottom: solid #99E2D0 3px;
  padding-bottom: 0.4rem;
  position: absolute;
  width: 10%;
}

.card-food-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 200ms backwards;
          animation: sliding 500ms 200ms backwards;
}
.card-food-1__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-1__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-1__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-1__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-1__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-1__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-1__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-1:hover .card-food-1__checked {
  width: 20%;
}
.card-food-1:hover .card-food-1__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-1:hover .card-food-1__infos {
  width: 80%;
}

.card-food-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 400ms backwards;
          animation: sliding 500ms 400ms backwards;
}
.card-food-2__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-2__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-2__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-2__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-2__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-2__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-2__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-2:hover .card-food-2__checked {
  width: 20%;
}
.card-food-2:hover .card-food-2__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-2:hover .card-food-2__infos {
  width: 80%;
}

.card-food-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px 0 rgba(146, 146, 146, 0.8);
  transition: all 0.3s;
  height: 75px;
  -webkit-animation: sliding 500ms 600ms backwards;
          animation: sliding 500ms 600ms backwards;
}
.card-food-3__infos {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s;
}
.card-food-3__infos__txt {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.card-food-3__infos__txt-and-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-food-3__infos__txt-and-price__txt {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 82%;
}
.card-food-3__infos__txt-and-price__price {
  font-weight: 500;
}
.card-food-3__checked {
  background-color: #99E2D0;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 550ms linear;
}
.card-food-3__checked__icon {
  color: white;
  transform-origin: center;
  font-size: x-large;
}
.card-food-3:hover .card-food-3__checked {
  width: 20%;
}
.card-food-3:hover .card-food-3__checked__icon {
  -webkit-animation: rotation-icon 500ms linear both;
          animation: rotation-icon 500ms linear both;
}
.card-food-3:hover .card-food-3__infos {
  width: 80%;
}

/* ------------ Footer ------------ */
.foot {
  background-color: #272727;
  color: white;
  padding: 1rem;
  margin-top: 2.5rem;
}
.foot__logo-ohmyfood {
  font-family: "Shrikhand", "Roboto", Impact, "Arial Black", Arial, Verdana, sans-serif;
  font-size: large;
  padding-bottom: 1rem;
}
.foot__restaurant-proposal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
}
.foot__restaurant-proposal__logo {
  padding-right: 0.3rem;
  font-size: small;
}
.foot__restaurant-proposal__txt {
  padding-left: 0.3rem;
}
.foot__became-partner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
}
.foot__became-partner__logo {
  font-size: x-small;
  transform: rotate(-40deg);
}
.foot__became-partner__txt {
  padding-left: 0.5rem;
}
.foot__legal-mention {
  padding-bottom: 0.5rem;
}
.foot__contact {
  padding-bottom: 0.5rem;
}/*# sourceMappingURL=restaurants.css.map */